<app-navbar></app-navbar>
<div class="add">
<form novalidate [formGroup]="add_form" #aForm="ngForm">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required>
    <mat-error *ngIf="add_form.get('name').hasError('required') && add_form.get('name').touched">empty</mat-error>
  </mat-form-field>
  <br>

  <mat-form-field appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input matInput type="email" formControlName="email" required>
    <mat-error *ngIf="add_form.get('email').hasError('required') && add_form.get('email').touched">empty</mat-error>
  </mat-form-field>
  <br>

  <button mat-button type="submit" [disabled]="add_form.invalid" (click)="onSubmit()">submit</button>
  <button mat-button (click)="onClose()">Clear</button>

</form>
</div>
